<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.9.0"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>


<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Electif Linux 2021</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            Home
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Température en temps réel</h1>

            </div>

            <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="3076" height="1298" style="display: block; height: 649px; width: 1538px;"></canvas>

            <h2>Caméra</h2>
            <!--<img class="img-fluid" src="{{ url_for('video_feed') }}" width="100%">-->
        </main>
    </div>
</div>




<script>
    var message = "";
    $(document).ready(function(){
        // sending a connect request to the server.
        var socket = io.connect('http://localhost:3333');
        socket.on('after connect', function(msg){
            console.log('After connect', msg);
            socket.emit('server')
        });

        socket.on('temp', function(msg){
            console.log('temp', msg);
            message = msg;
        });
    });


    var ctx = document.getElementById('myChart').getContext('2d');

    var chart = new Chart(ctx, {

        type: 'line',

        data: {

            datasets: [{

                label: 'Température',

                borderColor: 'rgb(5,16,193)',
                fill: false

            }]

        },

        options: {

            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Température (°C)'
                    }
                }],

                xAxes: [{

                    type: 'realtime',

                    realtime:{
                        delay: 3000,
                        onRefresh: function(chart) {

                            chart.data.datasets.forEach(function(dataset) {
                                date = Date(message.date)

                                dataset.data.push({

                                    x: date,

                                    y: message.temp

                                });

                            });

                        }
                    }


                }]

            },


        }

    });
</script>
</body>
</html>